/* index */
.product_title {
  display: flex;
}

.product_title h1 {
  font-weight: bold;
  margin-right: auto;
}

.product_title p {
  font-size: 18px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
}

#products {
  margin: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 50px;
  row-gap: 20px;
}

.product_index_box {
  display: block;
}

.product_index_box_img {
  width: 200px;
  min-height: 150px;
  background-color: #eee;
  border: 1px #eee solid;
}

.product_index_box_img p {
  color: #bbb;
  font-size: 20px;
  text-align: center;
  margin-top: 60px;
}

.product_index_box_content {
  min-height: 30%;
  color: #000;
  font-size: 18px;
  margin: 20px auto;
}

.product_index_box_content p {
  float: right;
}

/* show */
.product_show_title {
  align-items: center;
  background-color: #007700;
  border: 3px #007700 solid;
  margin-top: 50px;
  display: flex;
}

.product_show_title h2 {
  color: #fff;
  margin-left: 50px;
  margin-right: auto;
}

.favorite_btn {
  margin-left: auto;
  margin-right: 50px;
}

.favorite_btn p {
  font-size: 18px;
  margin-top: auto;
  margin-bottom: auto;
  padding: 5px;
}

.show_back {
  font-size: 18px;
  margin: 10px;
  display: flex;
}

.product_show_box {
  display: flex;
}

.product_show_box_img {
  width: 70%;
  min-height: 500px;
  background-color: #eee;
  border: 1px #eee solid;
}

.product_show_box_img p {
  color: #bbb;
  font-size: 20px;
  text-align: center;
  margin-top: 240px;
}

.product_show_box_content {
  width: 30%;
  font-size: 18px;
  padding: 10px;
}

.product_show_box_content p {
  float: right;
}

.description {
  margin-top: 50px;
}

.cart_box {
  margin-top: 80%;
  text-align: center;
}

.cart_box p {
  margin: 20px;
}

.cart_box button,
.login_btn {
  color: #000;
  font-size: 18px;
  border: 3px #000 solid;
  padding: 8px 10px;
}

.cart_box a:hover {
  color: #000;
}

.related_title {
  font-size: 18px;
  margin: 20px;
  padding: 20px 50px;
  border-top: 3px #007700 solid;
}

.related {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
}

.related_box {

}

.related_box_img {
  min-width: 150px;
  height: 200px;
  background-color: #eee;
}

.related_box_img p {
  color: #aaa;
  text-align: center;
  margin: auto;
}

.review_box {
  margin-bottom: 30px;
}

.review_box p {
  font-size: 18px;
  border-bottom: 1px #ccc dashed;
  margin: 10px 50px;
}

/* new,edit */
.product_new_title {
  text-align: center;
  margin-top: 30px;
}

.back {
  font-size: 18px;
}

.form_box {
  border: 1px #000 solid;
  margin: auto;
  padding: 20px 50px;
}

.form_field {
  font-size: 18px;
  align-items: center;
  margin-bottom: 20px;
  display: flex;
}

.form_field select,
.form_field input,
.form_field textarea {
  min-width: 70%;
  margin-left: auto;
  padding: 6px 10px;
}

.form_actions {
  margin-left: 80%;
}

.actions_btn {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  background-color: #4169e1;
  border: 1px #4169e1 solid;
  padding: 6px 20px;
}

@media screen and (max-width: 767px) {
  #products {
    margin: 50px auto;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
  }

  .new_form {
    margin-bottom: 30px;
  }

  .form_field {
    display: block;
  }

  .form_field input,
  .form_field textarea {
    min-width: 90%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  #products {
    margin: 50px auto;
    column-gap: 10px;
  }

  .new_form {
    margin-bottom: 30px;
  }
}
