<div class="top_page">
  <%= render 'home/side_bar' %>
  <div class="main_content">
    <div class="product_title">
      <h1>Editing product</h1>
    </div>
    <div class="back">
      <%= link_to "Back to products", products_path %>
    </div>
    <div class="new_form">
      <%= render "form", product: @product %>
    <div>
  </div>
</div>
