<div class="top_page">
  <%= render 'home/side_bar' %>
  <div class="main_content">
    <div class="product_new_title">
      <h1>編集 - <%= @product.name %> -</h1>
    </div>
    <div class="back">
      <%= link_to "◀︎　商品ページに戻る", product_path(@product) %>
    </div>
    <div class="new_form">
      <%= render "form", product: @product %>
    <div>
  </div>
</div>
